#ignore everything in the repo-specific maven cache, except for the placeholder file that ensures the directory exists
/.m2/repository/*
!/.m2/repository/.gitkeep

/target/
/bin/
/.settings/
/.classpath
/.project
/.vscode
/.idea
**/*.jks
**/*.p12
**/*.crt
**/*.csr
**/*.chain
**/*.key
/lookup-application.yml
/nbproject/
